body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Copperplate", Times, serif;
    scrollbar-width: thin;
    scrollbar-color: #333 #f0f0f0;
  }
/* Style scrollbars for Webkit-based browsers (Chrome, Safari) */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
}

body::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  /* Styles for screens smaller than 768px */
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Styles for screens between 769px and 1024px */
}
h1 {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: purple;
}
p{
  font-family: 'Fira Sans',
    monospace;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


